---
import Base from "@layouts/Base.astro";
---

<Base>
  <article>
    <p>
      My little corner of the internet
    </p>
  </article>
  <hr />
  <section>
    <h5>Contact</h5>
    <p class="contact-links">
      <a href="mailto:manlio.poltronieri@gmail.com">Email</a>
      <span>/</span>
      <a href="https://www.linkedin.com/in/manliopoltronieri/">LinkedIn</a>
    </p>
  </section>
</Base>
