---
import Base from "@layouts/Base.astro";
---

<Base title="Projects" description="My projects">
  <article>
    <hgroup>
      <h1>Projects</h1>
      <p>Things I build</p>
    </hgroup>
  </article>
</Base>
